<nav class="navbar navbar-dark  navbar-expand-lg fixed-top">
  <a class="navbar-brand"><span><img id="logo" src="./../assets/hash.png"></span>&nbsp;&nbsp; pankaj singh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT MYSELF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">OTHERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 offset-md-7 col-sm-6 offset-sm-6" style="height:100vh;">
      <div id="section-header">
        <p>Pankaj Singh</p>
        <p class="text-data">I love to play with programming and interested in implementing new technologies
        </p>
        <p class="text-data">I am the person who is always ready to explore knowledge, grab new opportunities and able
          to communicate with the team effectively
        </p>
        <p class="main-line">I would welcome the opportunity to discuss my suitability in more detail</p>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button id="go" class="btn btn-success bg-transparent"
            style="border-radius:25px;word-spacing: 1.5px;font-size:14px">Let's go</button>
        </div>
      </div>
    </div>


  </div>
  <div class="row mx-auto second" id="areas">


    <div class="col-md-4 col-sm-3" id="box1">
      <div class="row" style="color:white">
        <div class="col-md-12" style="margin-top:25px;">
          <i class="far fa-dot-circle"></i>
        </div><br><br><br><br>
        <div class="col-md-12">
          <span class="first">Areas of Interest</span>
        </div>
        <div id="first-detail" class="col-md-12">
          Web application development, NoSql databases, Real-Time communication system
        </div>
      </div>
    </div>


    <div class="col-md-4 col-sm-3" id="box2">
      <div class="row" style="color:white">
        <div class="col-md-12" style="margin-top:25px;">
          <i class="fas fa-star"></i>
        </div><br><br><br><br>
        <div class="col-md-12">
          <span class="first">Passion to lead</span>
        </div>
        <div id="first-detail" class="col-md-12">
          Self motivated and also self-learner, which encourages me to take more responsibilities and enforces me to
          work as a key personnel of an organisation
        </div>
      </div>
    </div>




    <div class="col-md-4 col-sm-3" id="box3">
      <div class="row" style="color:white">
        <div class="col-md-12" style="margin-top:25px;">
          <i class="fas fa-toolbox"></i>
        </div><br><br><br><br>
        <div class="col-md-12">
          <span class="first">Creative skills experience</span>
        </div>
        <div id="first-detail" class="col-md-12">
          Certified MEAN Stack developer, already get hands dirty on Angular, NodeJS and MongoDB.<br>
          Good knowledge of SQL Databases and Operating system<br><br>
        </div>
      </div>
    
    
    </div>


  </div>


<div id="about-me">
  <div class="row">
    <div class="col-md-12 text-center" id="about-me-header">
      <p>About Me</p>
    </div>

    <div class="col-md-10 offset-md-1 text-center" id="about-me-detail">
      <p>I aspire for a challenging position in a professional Organization where I can enhance my professional skills and strengthen my performance in adding with Organization’s motto. Myself a self motivated achiever with an ability to plan and execute.</p>
    </div>
  </div>
</div>


</div>